# **Build CNN for hand-written characters classification**

## **Import library**

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras import backend as K
from keras.utils import np_utils
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

#ignore warning messages 
import warnings
warnings.filterwarnings('ignore') 

sns.set()

**Import dataset**

In [3]:
dataset = pd.read_csv("hand_written_dataset.csv").astype('float32')

**Preprocess the dataset**

In [4]:
dataset.shape

(372037, 785)

In [5]:
dataset['0']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
372032    25.0
372033    25.0
372034    25.0
372035    25.0
372036    25.0
Name: 0, Length: 372037, dtype: float32

In [6]:
dataset.rename(columns={'0':'label'}, inplace=True)
dataset['label']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
372032    25.0
372033    25.0
372034    25.0
372035    25.0
372036    25.0
Name: label, Length: 372037, dtype: float32

**Seperate label and dataset**

In [7]:
X = dataset.drop('label', axis=1)
y = dataset['label']
X.shape, y.shape

((372037, 784), (372037,))

## **Explore the dataset**

In [8]:
print("shape:", X.shape)
print("culoms count:",len(X.iloc[1]))
print("784 = 28X28")

X.head()

shape: (372037, 784)
culoms count: 784
784 = 28X28

,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,0.10,...,0.562,0.563,0.564,0.565,0.566,0.567,0.568,0.569,0.570,0.571
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
X = np.array(X)
print(X[1])

[  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   5.
 182. 254.  97.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.  85.
 247. 255. 202.  15.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.  55. 210.
 247. 244. 238.  78.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.  23. 174. 254.
 152. 146. 248. 153.  11.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   3. 144. 248. 222.
  29.  54. 232. 224.  54.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   8. 125. 245. 205.  51.
   0.   1. 147. 255. 160.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.  66. 224. 237.  77.   2.
   0.   0.  55. 240. 238.  25.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.  24. 206. 249. 131.   5.   0.
   0.   0.  15. 168. 254. 119.   2.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.  26. 167. 251. 173.  19.   0.   0.
   0.   0.   1.  85. 237. 204.  37.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.  10. 132. 245. 204.  47.   1.   0.   0.
   0.   0.   0.  22. 190. 245. 105.   3.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   1. 107. 252. 255. 191. 204. 231. 255. 255.
 255. 255. 255. 255. 255. 255. 255. 244. 223. 172.   0.   0.   0.   0.
   0.   0.   0.   0.   0.  42. 218. 255. 255. 251. 226. 200. 182. 175.
 175. 175. 175. 175. 175. 240. 255. 221. 200. 174.   0.   0.   0.   0.
   0.   0.   0.   0.  12. 147. 248. 169.  92.  62.  29.  23.  18.  16.
  16.  16.  16.  16.  16. 164. 255. 145.  23.  16.   0.   0.   0.   0.
   0.   0.   0.   0.  57. 226. 229.  51.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.  78. 241. 209.  18.   0.   0.   0.   0.   0.
   0.   0.   0.   0. 116. 253. 170.   5.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.  35. 198. 237.  76.   0.   0.   0.   0.   0.
   0.   0.   0.   0. 184. 255.  95.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   5. 146. 249. 135.   4.   0.   0.   0.   0.
   0.   0.   0.   0. 230. 251.  54.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.  96. 242. 185.  27.   0.   0.   0.   0.
   0.   0.   0.   0. 253. 236.  33.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.  42. 228. 222.  57.   0.   0.   0.   0.
   0.   0.   0.   0. 183. 172.  20.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   6. 174. 255. 137.   0.   0.   0.   0.
   0.   0.   0.   0.  26.  26.   2.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.  86. 223. 167.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.]

In [ ]:
from sklearn.utils import shuffle
X_shuffle = shuffle(X)

plt.figure(figsize = (12,10))
row, colums = 4, 4
for i in range(16):  
    plt.subplot(colums, row, i+1)
    plt.imshow(X_shuffle[i].reshape(28,28), interpolation='nearest', cmap='Greys')
plt.show()